<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
	  <!-- Kết nối cơ sở dữ liệu chính -->
	  <add name="CuocThi"
		   connectionString="data source=SIGMA-DEV\SQLEXPRESS;initial catalog=THITRACNGHIEM;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework"
		   providerName="System.Data.SqlClient" />

	  <!-- Kết nối dự phòng hoặc khác -->
	  <add name="THIDB2"
		   connectionString="data source=SIGMA-DEV\SQLEXPRESS;initial catalog=TRACNGHIEMHUTECH;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework"
		   providerName="System.Data.SqlClient" />

	  <add name="DatabaseSroce"
		   connectionString="data source=DESKTOP-4RVSMBB;initial catalog=ThiTracNghiem;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework"
		   providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>